<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/cart.css">
    </head>

    <body>
        <%- include('../includes/navigation.ejs') %>
            <main>
                <% if (products.length> 0) { %>
                    <ul class="cart__item-list">
                        <% products.forEach(p=> { %>
                            <li>
                                <div class="card">
                                    <div class="card-body d-flex justify-content-between">
                                        <h3>
                                            <%= p.productId.title %>
                                        </h3>
                                        <h3>Quantity:
                                            <%= p.quantity %>
                                        </h3>
                                        <form action="/cart-delete-item" method="POST">
                                            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                                            <input type="hidden" value="<%= p. productId._id %>" name="productId">
                                            <button class="btn-danger" type="submit">Delete</button>
                                        </form>
                                    </div>
                                </div>
                            </li>
                            <% }) %>
                    </ul>
                    <hr>
                    <div class="d-flex justify-content-center mb-3">
                        <form action="/create-order" method="POST">
                            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                            <button type="submit" class="btn-primary">Order Now!</button>
                        </form>
                    </div>

                    <% } else { %>
                        <div class="container m-5 p-5">
                            <h1 class="m-5 p-5 text-center">No Products in Cart!</h1>
                        </div>
                        <% } %>
            </main>
            <%- include('../includes/end.ejs') %>